.App {
    text-align: center;
  }
  
  .App p {
    margin: 0.4rem;
  }
  
  .App-logo {
    height: 40vmin;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
table{
  margin: auto;
  width: 500px;
  border: 1px solid black;
  box-sizing: border-box;
  border-spacing: 2px;
}
/*state react hook, use state kvanteks*/
table th{
  border-top: 1px solid black;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 100px;

}/*
#t{
  border-top: none;
}*/

